<%= stylesheet_link_tag "style.css" %>

<div class="login-block">
	<h1>Parsing Complete!</h1>
	<div class="parser-menu">
		<input type="button" onclick="void();" value="SVG" id="opt">
		<input type="button" onclick="void();" value="JSON" id="opt">
	</div>
</div>
